Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing the dataset

In [2]:
df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
x = df.iloc[:,0:-1].values
y = df.iloc[:,-1].values

Encoding the categorical variable

In [4]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
cl = ColumnTransformer(transformers = [("encoder",OneHotEncoder(), [3])],remainder="passthrough")
x = np.array(cl.fit_transform(x))

In [5]:
x[:5]

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42]], dtype=object)

Splitting the data into Test set and Training set

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

Training the Multiple Linear Regression Model on the Training set

In [7]:
# The library is same for the multipleLinearRegression also
''' we don't have to worry about dummy variables and we don't have to apply backward elimination manually because
 sklearn class is so advanced that it automatically identifies the best possible columns for performing predictions '''
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

Predicting the Test set results

In [8]:
y_pred = regressor.predict(x_test)
# This line will print any decimal value max upto 2 decimal points
np.printoptions(precision=2)
# np.concatenate is used to cancatenate two vectors
# Reshape is used to reshape the vector from horizontal to vertical
# Last 1 is the axis 
print(np.concatenate((y_pred.reshape(len(y_pred) ,1),y_test.reshape(len(y_test) ,1)),1))

[[103015.20159795 103282.38      ]
 [132582.27760816 144259.4       ]
 [132447.73845175 146121.95      ]
 [ 71976.09851258  77798.83      ]
 [178537.48221057 191050.39      ]
 [116161.24230167 105008.31      ]
 [ 67851.69209676  81229.06      ]
 [ 98791.73374687  97483.56      ]
 [113969.43533014 110352.25      ]
 [167921.06569552 166187.94      ]]

In [9]:
# So we can clerly see that there are some awesome predictions and some not quite accurate predictions